body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  width: 100%;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

h1 {
  background-color: cornflowerblue;
}

.footer-link {
  color: #f6921e;
}

.newsPhotos {
  width: 100%;
}

.container {
  width: 100%;
}

.neighboor-name {
  font-style: oblique;
  text-decoration: underline;
}

#newsTitle {
  font-family: "Montserrat";
  font-size: 40px;
  width: 100%;
}

#footer-linkList {
  list-style: none;
}

#bodyNews p {
  font-family: Karla;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.45px;
  margin-bottom: 25px;
  max-width: 660px;
}

#logo-header img {
  width: 330px;
}

@media (max-width: 600px) and (min-width: 400px) {
  h1 {
    font-size: 10px;
    background-color: #f6921e;
    text-decoration: underline;
    width: 100%;
  }

  h2 {
    width: 45%;
    text-align: center;
    display: inline-block;
  }

  .newsPhotos {
    margin: 5px 50px 75px 5p;
    display: inline-block;
    width: 50%;
  }

  #newsTitle {
    font-family: "Montserrat";
    font-size: 40px;
    width: 100%;
  }
}
